 .col {
     padding-top: 20px;
     padding-bottom: 20px;
 }

.cardImgTop {
    width: 100%; /* Ширина изображения равна ширине контейнера */
    height: 200px; /* Фиксированная высота для всех изображений */
    object-fit: cover; /* Обрезает изображения, сохраняя пропорции */
    border-radius: 15%;
}

.cardText {
    color: #f0ebeb;
    font-style: oblique;
    font-size: 17px;
}

.cardTitle {
    color: #f0ebeb;
    font-style: initial;
}

.cardCustom {
    width: 320px; /* Фиксированная ширина */
    height: 400px; /* Фиксированная высота */
    overflow: hidden; /* Скрывает содержимое, выходящее за пределы карточки */
    border: 2px solid #FFF; /* Добавляет белую обводку */
    background-color: transparent !important; /* Убирает фон */
    position: relative;
}

/* Стили для кнопки */
.buyButton {
    opacity: 0; /* Изначально кнопка полностью прозрачна */
    position: absolute; /* Позиционирование внутри карточки */
    bottom: 10px; /* Расположение в нижней части карточки */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Точное центрирование */
    z-index: 10; /* Убедитесь, что кнопка находится над другими элементами */
    transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
    box-shadow: 0 6px 12px 0 rgba(255, 255, 255, 0.6); /* Увеличенная белая тень при наведении */
}

 .cardCustom:hover {
     cursor: pointer;
     padding-top: 10px;
     padding-bottom: 100px;
     margin-top: 10px;
     margin-bottom: -10px;
     box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5); /* Белая тень: смещение по x, y, размытие, распространение, цвет */
     transition: box-shadow 0.5s ease-in-out; /* Плавный переход тени */
 }


/* Стили для показа кнопки при наведении */
.cardCustom:hover .buyButton {
    opacity: 1; /* Полная непрозрачность при наведении */
}


